<a href="https://colab.research.google.com/github/milenazelaya/tareasprogramIII/blob/main/Codigosdeprogramaci%C3%B3n3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Milena zelaya")

hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Katterin Campos

In [ ]:
nombre = "Milena Zelaya"
print("Hola ", nombre, type(nombre))

nombre = 25
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Katterin Campos <class 'str'>
Tu edad es:  27 <class 'int'>

In [ ]:
nombre = "Milena Zelaya"
print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Katterin campos Longitud de tu Nombre:  15 Iniciales:  K r

In [ ]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [ ]:
num1 = 6
num2 = 2
resp = num1 - num2
print("la resta  de num1: " , num1 , "- num2: ", num2, "es igual a: ", resp)

la resta  de num1:  6 - num2:  2 es igual a:  4

In [ ]:
num1 = int (input("ingrese un numero entero: "))
num2 = int (input("ingrese un numero entero: "))
resp = num1 * num2
print("multiplicacion", resp)

ingrese un numero entero: 6
ingrese un numero entero: 2
multiplicacion 12

In [ ]:
num1 = float(input("Ingrese un numero entero: "))
num2 = float(input("Ingrese otro Num decimal: "))
resp = num1 + num2
print("Suma", resp, type(resp))

Ingrese un numero entero: 5
Ingrese otro Num decimal: 4.6
Suma 9.6 <class 'float'>

In [ ]:
nombre = input("dime tu nombre: ")
print(nombre, type(nombre), len(nombre))
print(nombre[0])
print(nombre[1])
print(nombre[2])
print(nombre[3])

In [ ]:
resp = 4 + 4 * 6 / 2 + 1
print(resp)

17.0

In [ ]:
gustaProgrmacion = False
print("Te gusta programar: ", gustaProgrmacion)

gustaDiseño = True
print("Te gusta diseñar: ", gustaDiseño)

Te gusta programar:  False
Te gusta diseñar:  True

In [ ]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 =int (input("Ingrese un numero entero: "))
num2 = int(input("Ingrerse otro Numero : "))
resp = num1 + num2
print("suma", resp)

Ingrese un numero entero: 2
Ingrerse otro Numero : 2
suma 4

In [ ]:
suma = lambda num1,num2: num1 + num2

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

Num1: 5
Num2: 4.6
La respuesta es:  9.6

In [ ]:
lista = [2,7,8,6,9]

In [ ]:
cuadrado = lambda num: num**2

In [ ]:
print( type(cuadrado) )

<class 'function'>

In [ ]:
cubo  = lambda num: num**3

In [ ]:
potencia = lambda num, n: num**n

In [ ]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

Lista:  [2, 7, 8, 6, 9]  al cuadrado:  [4, 49, 64, 36, 81]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
print( "2 al cubo es: ", potencia(4, 5) )

2 al cubo es:  1024

In [ ]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

Lista Original:  [2, 7, 8, 6, 9]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
fpares = lambda num: num%2==0 # %=> Modulo=> devuelve el residuo de una division 5/2 = 1=>residuo

In [ ]:
fimpares = lambda num: num%2!=0

In [ ]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

Lista original:  [2, 7, 8, 6, 9]  solo pares:  [2, 8, 6]  los impares:  [7, 9]

In [ ]:
suma = lambda a,b: a+b

In [ ]:
#import functools

In [ ]:
import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), " media Aritmetica: ", functools.reduce(suma, lista)/len(lista) )

Lista original:  [2, 7, 8, 6, 9] la suma:  32  media Aritmetica:  6.4

In [ ]:
c= 27

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

TAREA: Hacer un algoritmo en python que convierta de grados Celsius a Kelvin, usando funciones de usuario

In [ ]:
cel = float(input("INGRESE LOS GRADOS CELSIUS PARA CONVERTILOS EN GRADOS KELVIN: "))

INGRESE LOS GRADOS CELSIUS PARA CONVERTILOS EN GRADOS KELVIN: 30

In [ ]:
def CaK(cel):
  resultado= cel+273.15 
  return resultado

In [ ]:
print(CaK(cel))

303.15

Hacer un algoritmo en python que convierta de grados Kelvin a Celsius, usando funciones de usuario

In [ ]:
kel = float(input("INGRESE LOS GRADOS KELVIN PARA CONVERTILOS EN GRADOS CELSIUS: "))

INGRESE LOS GRADOS KELVIN PARA CONVERTILOS EN GRADOS CELSIUS: 303.15

In [ ]:
def KaC(kel):
  resultado= kel-273.15 
  return resultado

In [ ]:
print(KaC(kel))

30.0

Hacer un algoritmo en python que convierta de grados Celsius a Kelvin, usando lambda

In [ ]:
conversionCaK = lambda cel: cel+273.15

In [ ]:
Gcelsius=float(input("INGRESE LOS GRADOS CELSIUS PARA REALIZAR LA CONVERSION A GRADOS KELVIN: "))

INGRESE LOS GRADOS CELSIUS PARA REALIZAR LA CONVERSION A GRADOS KELVIN: 30

In [ ]:
print(conversionCaK(Gcelsius))

303.15

Hacer un algoritmo en python que convierta de grados Kelvin a Celsius, usando lambda

In [ ]:
conversionKaC = lambda kelvin: kelvin-273.15

In [ ]:
Gkelvin=float(input("INGRESE LOS GRADOS KELVIN PARA REALIZAR LA CONVERSION A GRADOS CELSIUS: "))

INGRESE LOS GRADOS KELVIN PARA REALIZAR LA CONVERSION A GRADOS CELSIUS: 303.15

In [ ]:
print(conversionKaC(Gkelvin))

30.0

Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario

In [ ]:
print("Ingrese sus notas del computo1")

Ingrese sus notas del computo1

In [ ]:
lab1comp1=float(input())

10

In [ ]:
lab2comp1=float(input())

10

In [ ]:
parcialcomp1=float(input())

9.5

In [ ]:
print("Ingrese sus notas del computo2")

Ingrese sus notas del computo2

In [ ]:
lab1comp2=float(input())

10

In [ ]:
lab2comp2=float(input())

9.8

In [ ]:
parcialcomp2=float(input())

9.5

In [ ]:
print("Ingrese sus notas del computo3")

Ingrese sus notas del computo3

In [ ]:
lab1comp3=float(input())

10

In [ ]:
lab2comp3=float(input())

10

In [ ]:
parcialcomp3=float(input())

10

In [ ]:
def notas(a,b,c):
  total=(a * 0.3) + ( b * 0.3 )+( c * 0.4)
  return total

In [ ]:
computo1=notas(lab1comp1,lab2comp1,parcialcomp1)

In [ ]:
computo2=notas(lab1comp2,lab2comp2,parcialcomp2)

In [ ]:
computo3=notas(lab1comp3,lab2comp3,parcialcomp3)

In [ ]:
notaFinal= (computo1 + computo2 + computo3) /3

In [ ]:
print(notaFinal)

9.846666666666666

Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando  lambda.

In [ ]:
edades = (2,5,12,18,65,100) #La tupl es inmutable, es decir, no podemos cambiar su valor y se declara con parenteis pero se usa con corchetes
print( edades, "La edad de bebe es la mejor: ", edades[0] )

#edades[0] = 1, es inmutable, no se puede modificar

(2, 5, 12, 18, 65, 100) La edad de bebe es la mejor:  2

In [ ]:
print("Edades: ", edades, "Responsabilidades: ", tuple( filter(lambda e:e>=18, edades) ) )
print("Edades: ", edades, " Al cuadrado: ", tuple(map(lambda n:n**2, edades)) )

Edades:  (2, 5, 12, 18, 65, 100) Responsabilidades:  (18, 65, 100)
Edades:  (2, 5, 12, 18, 65, 100)  Al cuadrado:  (4, 25, 144, 324, 4225, 10000)

In [ ]:
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

Notas Originales:  [6, 8, 10]
Notas:  [9, 8, 10]

In [ ]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [ ]:
print("Lab2 de C1", notasProgra[0][1] )

Lab2 de C1 8

In [ ]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1", notas[1][0][0], "NOta de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

Lab1 de Estadistica en C1 5 NOta de Parcial C1 de Progra III:  8.5

In [ ]:
#diccionarios (JSON): Se declaran con llaves pero se usan con corchetes
misNotas = {
    "Programa III":{
        "C1": {
          "Lab1":9,"Lab2":8, "Parcial":{"ParteI":8, "ParteII":9}
        },
        "C2":{
          "Lab1":10,"Lab2":6, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":6, "Parcial":9
        }
    },"Estadistica":{
        "C1": {
          "Lab1":5,"Lab2":7, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "BD":{
        "C1": {
          "Lab1":7,"Lab2":8, "Parcial":9
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":7
        },
        "C3":{
          "Lab1":10,"Lab2":9, "Parcial":10
        }
    }, "Ingles":{
        "C1": {
          "Lab1":8,"Lab2":9, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":10, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "Circuitos Digitales":{
        "C1": {
          "Lab1":5,"Lab2":8, "Parcial":7
        },
        "C2":{
          "Lab1":8,"Lab2":7, "Parcial":9
        },
        "C3":{
          "Lab1":9,"Lab2":10, "Parcial":9
        }
    }
}
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"] = float(input("Lab1: "))
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en C1 de Estadistica:  5
Lab1: 10
Lab1 en C1 de Estadistica:  10.0

In [ ]:
edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Eres un niño")
elif( edad<18 ):
  print("Eres un adolescente")
elif( edad<=55 ):
  print("Eres un adulto joven")
elif(edad<=65):
  print("Eres un Adulto")
elif(edad<=85):
  print("Eres un adulto mayor")
elif(edad<=130):
  print("Larga vidad...")
else:
  print("Edad incorrecto")
print("Termino")

Dime tu edad: 50
Eres un adulto joven
Termino

In [ ]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla de multiplicar a generar: "))
i=1
while i<=10:
  print( nt,"X",i,"=", nt*i )
  i+=1

Dime la tabla de multiplicar a generar: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [ ]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla que deseas generar: "))
for i in range(1,11): #i<11
  print(nt,"X",i,"=", nt*i)

Dime la tabla que deseas generar: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [ ]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
s = "s"
while s=="s":
  nt = int(input("Dime una tabla: "))
  for i in range(1, 11):
    print(nt, "X",i,"=", nt*i)
  s = input("Desea continua presione la tecla s, sino cualquier otra")

Dime una tabla: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Desea continua presione la tecla s, sino cualquier otras
Dime una tabla: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Desea continua presione la tecla s, sino cualquier otran

In [ ]:
#conversores
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Colon SV", "3. Quetzal", "4. Lempira", "5. Cordoba"],
    ["Selecione un almacenamiento", "1. MegaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. GigaByte"]
    ,3,4,5]

valores = [0,
  [0,1, 8.75, 7.73, 24.49, 35.96],
  [0,1, 8388608, 1048576, 1024, 0.0009765625]  
]

In [ ]:
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

In [ ]:
print("** MENU **")
print("1. Monedas")
print("2. Almacenamiento")
opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

hacer un algoritmo en python que enceuntre la nota fianl del ciclo de una materia usando lamda

In [ ]:
print("Ingrese sus notas de el primer computo")
labo1com1=float(input())
labo2com1=float(input())
parcial1=float(input())
print("Ingrese sus notas de el segundo computo")
labo1com2=float(input())
labo2com2=float(input())
parcial2=float(input())
print("Ingrese sus notas de el tercer computo")
labo1com3=float(input())
labo2com3=float(input())
parcial3=float(input())

notas= lambda a,b,c: (a*0.3) + (b*0.3) + (c*0.3)

comp1=notas(labo1com1,labo2com1,parcial1)
comp2=notas(labo1com2,labo2com2,parcial2)
comp3=notas(labo1com3,labo2com3,parcial3)

notaFinal=(comp1 + comp2 + comp3) /3

print(notaFinal)