<a href="https://colab.research.google.com/github/milenazelaya/tareasprogramIII/blob/main/Copia_de_Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
c= 27

In [ ]:
def converCaF(c):
  return c*9/5  + 32

In [ ]:
print("Celsius a F:", converCaF(c))

Celsius a F: 80.6

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print (gradosCiudades, "respuesta", list (map (converCaF, gradosCiudades)))

[27, 30, 32, 35, 40, 45] respuesta [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
gradoCiudad = [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]
def converFaC (e):
  return (e-32) * 5/9
print("respuesta:", list(map(converFaC, gradoCiudad)))

respuesta: [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
Gradociudad = [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

print ("respuesta", list (map(lambda c: (c-32) * 5/9, Gradociudad)))

respuesta [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

Tarea Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

In [ ]:
C = float(input("Ingrese los grados Celsius para convertir a kelvin:"))
def Cak(C):
  Resultado = C + 273.15
  return Resultado
print(Cak(C))

Ingrese los grados Celsius para convertir a kelvin:27
300.15

Celsius a kelvin usando lambda y funciones de usuario

kelvin a celcius

In [ ]:
gradoC= [25, 88, 25, 30]

In [ ]:
def convertirCaK(celsius):
  return celsius+273.15

In [ ]:
  print(gradoC, "Respuesta:", list(map(lambda celsius: celsius+273.15, gradoC)))

[25, 88, 25, 30] Respuesta: [298.15, 361.15, 298.15, 303.15]

celsius a kelvin

In [ ]:
gradok=[298.15, 361.15, 298.15, 303.15]

In [ ]:
def convertirKaC(kel):
  return kel-273.15

In [ ]:
print (gradok, "Respuesta", list (map(lambda kel: kel-273.15, gradok)))

[298.15, 361.15, 298.15, 303.15] Respuesta [25.0, 88.0, 25.0, 30.0]

Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [ ]:
def calcularNota(n1, n2, n3, n4, n5, n6, n7, n8, n9):
  return (n1*0.3) + (n2*0.3) + (n3*0.3)  + (n4*0.3)  + (n5*0.3) + (n6*0.3)  + (n7*0.3)  + (n8*0.3)  + (n9*0.3) 
  n1 = float(input("ingrese la nota"))
  n2 = float(input("ingrese la nota"))
  n3 = float(input("ingrese la nota"))
  n4 = float(input("ingrese la nota"))
  n5 = float(input("ingrese la nota"))
  n6 = float(input("ingrese la nota"))
  n7 = float(input("ingrese la nota"))
  n8 = float(input("ingrese la nota"))
  n9 = float(input("ingrese la nota"))

  print (calcularNota, "nota final", list (map(lambda calcularNota: calcularNota  )))

In [ ]:
edad = int(input("Digite su edad"))
if(edad<=2):
  print("Eres un bb")
elif(edad<12):
  print("eres un niÃ±o")
elif(edad<18):
  print("eres un adolecente")
elif(edad<55):
  print("eres un adulto joven")ad
print("termino")

Digite su edad20
termino

In [ ]:
nt= int(input)

In [ ]:
metros_c= int( input("ingrese la cantidad de metros consumidos:"))
def mcc(a):
  if o<=18: 
    print("El valor a pagar segun los metros consumidos es de: seis dolares")
  elif o<=28:
    exce= float(a-18) 
    m= exce*0.45
    total0=m+6.00
    print("El valor a pagar segun los metros consumidos es de: ", total0)
  else:
    exce= float(a-28)
    p= exces*0.65
    total1=p+10.5
    print("El valor a pagar los metros consumidos es de:", total1)

print(mc(metros_consumidos))